In [122]:
import pandas as pd
import numpy as np

In [123]:
data=pd.read_csv('Bengaluru_House_Data.csv')

In [124]:
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [125]:
data.shape

(13320, 9)

In [126]:
data.tail()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.0
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.0
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.0
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.0
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.0

In [127]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [128]:
for column in data.columns:
    print(data[column].value_counts())
    print("*"*20)

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64
********************
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: availability, Length: 81, dtype: int64
********************
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64
********************
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64
********************
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: society, Length: 2688, dtype: int64
********************
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: total_sqft, Length: 2117, dtype: int64
********************
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: bath, dtype: int64
********************
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: balcony, dtype: int64
********************
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: price, Length: 1994, dtype: int64
********************

In [129]:
data.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [130]:
data.columns.values

array(['area_type', 'availability', 'location', 'size', 'society',
       'total_sqft', 'bath', 'balcony', 'price'], dtype=object)

In [131]:
data.dtypes

area_type        object
availability     object
location         object
size             object
society          object
total_sqft       object
bath            float64
balcony         float64
price           float64
dtype: object

In [132]:
data.columns

Index(['area_type', 'availability', 'location', 'size', 'society',
       'total_sqft', 'bath', 'balcony', 'price'],
      dtype='object')

In [133]:
#DataFrame.drop(self, labels, axis, index, columns, level, inplace, errors)
data.drop(columns=['area_type','availability','society','balcony'],axis=1, errors='ignore', inplace=True)

In [134]:
data.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [135]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [136]:
data['location'].value_counts()

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

In [137]:
data['location'] = data['location'].fillna('Sarjapur  Road')

In [138]:
data['size'].value_counts()

2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64

In [139]:
data['size'] = data['size'].fillna('2 BHK')

In [140]:
data['bath'] = data['bath'].fillna(data['bath'].median())

In [141]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [142]:
data['bhk']=data['size'].str.split().str.get(0).astype(int)

In [143]:
data[data.bhk > 20]

                       location        size total_sqft  bath  price  bhk
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
4684                Munnekollal  43 Bedroom       2400  40.0  660.0   43

In [144]:
data['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [145]:
def convertRange(x):
    temp = x.split('_')
    if len(temp) == 2:
        return(float(temp[0]) + float(temp[1]))/2
    try:
        return float(x)
    except:
        return None

In [146]:
data['total_sqft']=data['total_sqft'].apply(convertRange)

In [147]:
data.head()

                   location       size  total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2

## Price Per Square feet

In [148]:
data['price_per_sqft'] = data['price'] *100000 / data['total_sqft']

In [149]:
data['price_per_sqft']

0         3699.810606
1         4615.384615
2         4305.555556
3         6245.890861
4         4250.000000
             ...
13315     6689.834926
13316    11111.111111
13317     5258.545136
13318    10407.336319
13319     3090.909091
Name: price_per_sqft, Length: 13320, dtype: float64

In [150]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13073.000000  13320.000000  13320.000000  13320.000000    1.307300e+04
mean    1554.942029      2.688814    112.565627      2.802778    7.949600e+03
std     1238.458773      1.338754    148.971674      1.294496    1.072440e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.265734e+03
50%     1275.000000      2.000000     72.000000      3.000000    5.454545e+03
75%     1670.000000      3.000000    120.000000      3.000000    7.338057e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [151]:
data['location'].value_counts()

Whitefield                        540
Sarjapur  Road                    400
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

In [152]:
data['locaation'] = data['location'].apply(lambda x: x.strip())
location_count= data['location'].value_counts()

In [153]:
location_count

Whitefield                        540
Sarjapur  Road                    400
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

In [154]:
location_count_less_10 = location_count[location_count<=10]
location_count_less_10

Kalkere                           10
Gunjur Palya                      10
Dodsworth Layout                  10
BTM 1st Stage                     10
Sadashiva Nagar                   10
                                  ..
Bapuji Layout                      1
1st Stage Radha Krishna Layout     1
BEML Layout 5th stage              1
singapura paradise                 1
Abshot Layout                      1
Name: location, Length: 1064, dtype: int64

In [155]:
data['location']=data['location'].apply(lambda x: 'other' if x in location_count_less_10 else x)

In [156]:
data['location'].value_counts()

other                 2900
Whitefield             540
Sarjapur  Road         400
Electronic City        302
Kanakpura Road         273
                      ...
Marsur                  11
Banjara Layout          11
LB Shastri Nagar        11
Pattandur Agrahara      11
Narayanapura            11
Name: location, Length: 242, dtype: int64

### Outlier Detection and Removal

In [157]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13073.000000  13320.000000  13320.000000  13320.000000    1.307300e+04
mean    1554.942029      2.688814    112.565627      2.802778    7.949600e+03
std     1238.458773      1.338754    148.971674      1.294496    1.072440e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.265734e+03
50%     1275.000000      2.000000     72.000000      3.000000    5.454545e+03
75%     1670.000000      3.000000    120.000000      3.000000    7.338057e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [158]:
(data['total_sqft']/data['bhk']).describe()

count    13073.000000
mean       573.254923
std        389.887823
min          0.250000
25%        472.000000
50%        551.000000
75%        625.000000
max      26136.000000
dtype: float64

In [159]:
data = data[((data['total_sqft']/data['bhk']) >= 300)]
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  12329.000000  12329.000000  12329.000000  12329.000000    12329.000000
mean    1590.166773      2.561441    111.444236      2.651472     6322.476758
std     1261.827604      1.072551    152.759322      0.973754     4187.479096
min      300.000000      1.000000      8.440000      1.000000      267.829813
25%     1118.000000      2.000000     49.340000      2.000000     4207.119741
50%     1300.000000      2.000000     70.000000      3.000000     5300.000000
75%     1700.000000      3.000000    115.000000      3.000000     6938.483548
max    52272.000000     16.000000   3600.000000     16.000000   176470.588235

In [160]:
data.shape

(12329, 8)

In [161]:
data.price_per_sqft.describe()

count     12329.000000
mean       6322.476758
std        4187.479096
min         267.829813
25%        4207.119741
50%        5300.000000
75%        6938.483548
max      176470.588235
Name: price_per_sqft, dtype: float64

In [162]:
def remove_outliers_sqft(df):
    df_output = pd.DataFrame()
    for key,subdf in df.groupby('location'):
        m = np.mean(subdf.price_per_sqft)
        
        st = np.std(subdf.price_per_sqft)
        gen_df = subdf[(subdf.price_per_sqft > (m-st)) & (subdf.price_per_sqft <= (m+st))]
        df_output = pd.concat([df_output,gen_df],ignore_index =True)
    return df_output
data = remove_outliers_sqft(data)
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  10157.000000  10157.000000  10157.000000  10157.000000    10157.000000
mean    1502.786317      2.471793     91.104428      2.573398     5669.647416
std      874.087722      0.972098     86.233886      0.893752     2274.501715
min      300.000000      1.000000     10.000000      1.000000     1250.000000
25%     1110.000000      2.000000     49.000000      2.000000     4242.424242
50%     1283.000000      2.000000     67.000000      2.000000     5183.823529
75%     1650.000000      3.000000    100.000000      3.000000     6451.612903
max    30400.000000     16.000000   2200.000000     16.000000    24509.803922

In [163]:
def bhk_outlier_remover(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby('location'):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.price_per_sqft),
                'std': np.std(bhk_df.price_per_sqft),
                'count': bhk_df.shape[0]
            }
        for bhk, bhk_df in location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices,axis='index')

In [164]:
data=bhk_outlier_remover(data)

In [165]:
data.shape

(7237, 8)

In [166]:
data

,location,size,total_sqft,bath,price,bhk,price_per_sqft,locaation
1,Devarachikkanahalli,2 BHK,1250.0,2.0,40.0,2,3200.000000,Devarachikkanahalli
2,Devarachikkanahalli,2 Bedroom,1200.0,2.0,83.0,2,6916.666667,Devarachikkanahalli
3,Devarachikkanahalli,2 BHK,1170.0,2.0,40.0,2,3418.803419,Devarachikkanahalli
4,Devarachikkanahalli,3 BHK,1425.0,2.0,65.0,3,4561.403509,Devarachikkanahalli
5,Devarachikkanahalli,2 BHK,947.0,2.0,43.0,2,4540.654699,Devarachikkanahalli
...,...,...,...,...,...,...,...,...
10148,other,2 BHK,1200.0,2.0,70.0,2,5833.333333,Hennur Bande
10149,other,1 BHK,1800.0,1.0,200.0,1,11111.111111,12th cross srinivas nagar banshankari 3rd stage
10152,other,2 BHK,1353.0,2.0,110.0,2,8130.081301,VHBCS Layout
10153,other,1 Bedroom,812.0,1.0,26.0,1,3201.970443,Weavers Colony
10156,other,4 BHK,3600.0,5.0,400.0,4,11111.111111,Richards Town

In [167]:
data.drop(columns=['size','price_per_sqft'],axis=1, errors='ignore', inplace=True)

#### Cleaned Data

In [176]:
data.head()

               location  total_sqft  bath  price  bhk            locaation
1   Devarachikkanahalli      1250.0   2.0   40.0    2  Devarachikkanahalli
2   Devarachikkanahalli      1200.0   2.0   83.0    2  Devarachikkanahalli
3   Devarachikkanahalli      1170.0   2.0   40.0    2  Devarachikkanahalli
4   Devarachikkanahalli      1425.0   2.0   65.0    3  Devarachikkanahalli
5   Devarachikkanahalli       947.0   2.0   43.0    2  Devarachikkanahalli

In [177]:
data.to_csv("Cleaned_data.csv")

In [184]:
x=data.drop(columns=['price'])
y=data

In [185]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [190]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.2, random_state=0)

In [191]:
print(x_train.shape)
print(x_test.shape)

(5789, 5)
(1448, 5)

### Applying Linear Regression

In [193]:
column_trans = make_column_transformer((OneHotEncoder(sparse=False), ['location']),
                                    remainder='passthrough')

In [194]:
scaler = StandardScaler()

In [196]:
lr = LinearRegression(normalize=True)

In [197]:
pipe = make_pipeline(column_trans,scaler, lr)

In [203]:
pipe.fit(x_train,y_train)

ValueError: could not convert string to float: 'Whitefield'

In [204]:
y_pred_lr = pipe.predict(x_test)

NotFittedError: This StandardScaler instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [ ]:
r2_score(y_test, y_pred_lr)